@import '../../assets/global.css';

.login-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
}

.about-us-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(170px + 20vw);
  max-width: 700px;
}

.about-us-box h2 {
  margin: calc(20px + 1vw) 0;
  font-weight: 700;
}

.about-us-box .info {
  display: flex;
  flex-direction: column;
  width: calc(170px + 20vw);
  gap: calc(6px + 1vw);
}

.about-us-box .block {
  display: flex;
  gap: calc(8px + 1vw);
}

.about-us-box .block .text {
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: calc(8px + 1vw);
  font-size: calc(14px + 0.5vw);
}

.about-us-box img {
  width: calc(70px + 10vw);
  max-width: 150px;
}

.about-us-box .Telerik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(20px + 1vw);
  font-size: calc(16px + 0.5vw);
  font-weight: 600;
}
