@import '../../assets/global.css';

.add-activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80vw;
  padding: 10px 20px 20px 20px;
  background-color: var(--light);
  margin-top: 20px;
}

.add-activities-container h2 {
  margin: 0 auto 20px auto;
  font-size: 20;
  font-weight: 800;
  color: var(--text);
}

.add-activities-container .pick {
  font-weight: 700;
  color: var(--dark);
  font-size: calc(14px + 0.4vw);
}

.add-activities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: calc(160px + 10vw);
}

.add-activities .scroll-div {
  display: flex;
  flex-direction: column;
  gap: calc(4px + 0.6vw);
  height: 70vw;
  width: calc(165px + 7.5vw);
  max-width: 280px;
  overflow: hidden;
  overflow-y: scroll;
  direction: rtl;
  padding: 12px;
  background: var(--secondary);
  transform: rotate(-90deg);
}

.add-activities .menu-item {
  cursor: pointer;
  display: flex;
  transform: rotate(90deg);
}

.add-activities .head-image img {
  width: calc(150px + 5.8vw);
  max-width: 250px;
  border-radius: 15px;
  transition: all 0.3s ease;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.358));
}

.add-activities .head-image img:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.521);
  transition: 0.3s ease;
}

.add-activities .head-text {
  position: relative;
}

.add-activities .text-on-image {
  color: var(--light);
  position: absolute;
  font-size: calc(18px + 1.2vw);
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  right: 10%;
  bottom: 5%;
  cursor: context-menu;
}

/* width */
.add-activities .scroll-div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.add-activities .scroll-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.add-activities .scroll-div::-webkit-scrollbar-thumb {
  background: rgb(144, 215, 243);
  border-radius: 20px;
}

/* Handle on hover */
.add-activities .scroll-div::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 184, 209);
}

.new-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 68vw;
}

.new-activity-box {
  margin: 20px 0;
}

.new-activity-title {
  font-size: calc(26px + 0.5vw);
  font-weight: 600;
}

.new-activity-box button {
  border: none;
  border-radius: 3px;
  background-color: var(--secondary);
  color: var(--main);
  font-size: calc(14px + 0.4vw);
  font-weight: 600;
  padding: 3px 10px;
  margin-right: 30px;
  width: calc(60px + 3vw);
  height: calc(28px + 0.5vw);
}

.new-activity-box button:disabled {
  filter: grayscale(0.7);
}

.new-activity-box button:hover {
  opacity: 80%;
}

.new-activity-message {
  font-size: calc(16px + 0.4vw);
  color: var(--text);
  font-weight: 600;
  margin-bottom: calc(10px + 1vw);
}

.new-activity hr.line1 {
  margin: 0 0 20px 0;
  border-top: 2px solid var(--dark);
}

.history-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.history-activities button {
  font-size: calc(16px + 0.4vw);
  border: 3px solid var(--secondary);
  border-radius: 3px;
  color: var(--main);
  font-weight: 600;
  padding: 3px 10px;
  margin-right: 30px;
  width: calc(120px + 4vw);
}

.history-activities button:hover {
  opacity: 80%;
}
