@import '../../assets/global.css';

.edit-box {
  border: 2px solid rgb(238, 113, 113);
  padding: 10px;
  border-radius: 10px;
}

.edit-box hr.line1 {
  border-top: 2px solid var(--dark);
}

.activity-name {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  color: var(--text);
}

.history-box .activity {
  font-size: calc(20px + 0.5vw);
  font-weight: 600;
  color: var(--text);
  margin-right: 30px;
}

.history-box .date-activity {
  font-size: calc(16px + 0.4vw);
  font-weight: 600;
  color: var(--dark);
}

.history-box .activity-date-activity {
  display: flex;
  align-items: baseline;
}

.history-box .title {
  font-size: calc(16px + 0.4vw);
  font-weight: 400;
  margin-bottom: 10px;
}

.history-box .stats {
  font-size: calc(16px + 0.4vw);
  font-weight: 600;
  color: var(--text);
}

.history-box button {
  border: none;
  border-radius: 3px;
  background-color: var(--secondary);
  color: var(--main);
  font-size: calc(14px + 0.4vw);
  font-weight: 600;
  padding: 3px 10px;
  margin: 10px 30px 0 0;
  width: calc(60px + 3vw);
  height: calc(28px + 0.5vw);
}

.history-box button:hover {
  opacity: 80%;
}
