@import '../../assets/global.css';

.input-activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.input-distance {
  height: calc(15px + 1vw);
}

.input-activity label {
  font-weight: 700;
  font-size: calc(11px + 0.3vw);

  color: var(--dark);
}

.input-activity-title {
  width: 100%;
}

.input-activity-duration {
  width: calc(60px + 3vw);
}

.input-activity-steps {
  width: calc(120px + 3vw);
}

.duration-min {
  display: flex;
  align-items: baseline;
  gap: calc(4px + 0.3vw);
}

.duration-min .min {
  font-size: calc(14px + 0.4vw);
}

.steps {
  display: flex;
}

.input-activity input {
  height: 32px;
  font-size: calc(16px + 0.4vw);
  border: none;
  border-bottom: 2px solid var(--light);
  border-radius: 3px;
}

.input-activity input:focus {
  outline: none;
}

.input-activity input:hover {
  border: none;
  border-bottom: 2px solid var(--dark);
  border-radius: 3px;
}

.input-activity .error {
  color: var(--error);
  font-size: calc(11px + 0.3vw);
  font-weight: 500;
}

.ant-picker {
  font-size: calc(16px + 0.4vw);

  width: 160px;
  height: 32px;
}

.ant-picker input {
  border: none;
}

.ant-picker input:hover {
  border: none;
}
