@import '../../assets/global.css';

.profile-completed {
  display: flex;
  align-self: center;
  /* max-width: 800px; */
  /* height: 100%; */
  margin: auto;
  font-size: calc(16px + 0.4vw);
  color: var(--text);
}

.profile-completed-box {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 360px; */
  padding: 20px;
  /* background-image: url('../../assets/images/paper.png'); */
  background-color: var(--white);
}

.profile-completed-box h2 {
  margin: 0 auto 20px auto;
  /* font-size: 20; */
  font-weight: 800;
  color: var(--text);
}

.profile-completed-box .Form {
  display: flex;
  flex-direction: column;
}

.profile-completed-box .Form .stack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-completed-box .Form .notes {
  display: flex;
}

.profile-completed-box .Form .error {
  color: var(--error);
  font-size: 14px;
  font-weight: 500;
  margin: -18px 0 20px 0;
}

.profile-completed-box .Form p {
  width: 100px;
  margin-top: -20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--mid);
}

.profile-completed-box input {
  width: 70%;
  border: none;
  border-bottom: 2px solid var(--light);
  background-color: transparent;
}

.profile-completed-box .Form button {
  width: 200px;
  margin: 10px auto;
  font-weight: 500;
  border-radius: 3px;
}
