@import '../../assets/global.css';

.recent-container {
  background: var(--white);
  min-width: 320px;
  min-height: 400px;
  padding: 5px 10px;
}

.recent-container h2 {
  text-align: center;
  font-size: calc(20px + 0.5vw);
  font-weight: 600;
}

.recent-activity hr.line1 {
  border-top: 2px solid var(--dark);
  margin: 10px 0;
}
.recent-activity .activity-date {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.recent-activity .activity-date .activity {
  font-size: calc(16px + 0.4vw);
  font-weight: 600;
}

.recent-activity .activity-date .date {
  font-size: calc(14px + 0.4vw);
  font-weight: 600;
  color: var(--dark);
}

.recent-activity .points {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.recent-activity .value {
  font-size: calc(14px + 0.4vw);
  font-weight: 600;
}
