@import '../../assets/global.css';

.containerTabs {
  /* width: calc(200px + 3vw); */
  /* display: flex; */
  /* flex-direction: column; */

  width: calc(100% - 20px);
  margin: 0 auto;
  background-color: #1a1a1a;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs button {
  background-color: lightgray;
  border: none;
  color: #888888;
  cursor: pointer;
  padding: calc(10px + 0.5vw) 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-out;
}

.tabs button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

.tabs button:disabled {
  background: linear-gradient(to right, rgb(0, 45, 41), rgb(74, 116, 110));
  color: white;
}
.content {
  padding: 50px 80px;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

.content,
button {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
