@import '../../assets/global.css';

.water-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.water-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 660px;
  height: 550px;
  background-color: var(--white);
}

.water-container h2 {
  margin: 0 auto 20px auto;
  font-weight: 700;
  color: var(--text);
}

.water-container h1 {
  color: blueviolet;
  font-weight: 600;
  margin-bottom: 30px;
}

.water-daily {
  display: flex;
  gap: calc(10px + 4vw);
}

.water-tube {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: rgb(190, 237, 254);
  overflow: hidden;
  -webkit-mask-image: url(../../assets/water/bottle-water.png);
  mask-image: url(../../assets/water/bottle-water.png);
}

.water-daily p {
  font-size: calc(15px + 0.2vw);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  width: 200px;
}

.water-tube .wave {
  display: flex;
  width: 200px;
  height: 300px;
  background: url(../../assets/water/water.png);
  background-size: 200px 300px;
  background-repeat: repeat-x;
  animation: flow 10s linear infinite;
}

.water-tube .value {
  display: flex;
  align-items: baseline;
  background-color: transparent;
  height: 300px;
  margin-top: -300px;
  flex-shrink: 0;
  padding-top: 80px;
}

.water-tube .value h3 {
  color: aliceblue;
  background-color: #2f9bff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: calc(28px + 0.4vw);
  font-weight: 700;
}

.water-tube .value span {
  font-weight: 500;
  font-size: calc(16px + 0.4vw);
  color: rgb(186, 216, 229);
  padding-left: 8px;
  padding-top: 12px;
}

@keyframes flow {
  0% {
    background-position: -600px 0px;
  }
  100% {
    background-position: 0 0px;
  }
}

.water-tube h3 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-self: center;
  justify-self: center;
}

.fast-water-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(107px + 3vw);
  min-width: 107px;
}

.fast-water-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: aliceblue;
  border: 1px solid #2f9bff;
  border-radius: 3px;
  filter: opacity(0.7);
}

.fast-water-options button:hover {
  filter: opacity(1);
  border: 2px solid #2f9bff;
}

.fast-water-options button:disabled {
  filter: grayscale(0.7);
  cursor: default;
}

.list-water {
  width: 105px;
  width: 100%;
  gap: 1vw;
  display: flex;
  align-items: center;
  height: 60px;
}

.list-water .icon-text {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(50px + 2vw);
}

.label-water {
  margin-top: 5px;
}

.label-water img {
  width: 20px;
}

.list-water-title {
  font-weight: 500;
  font-size: calc(12px + 0.2vw);
  height: auto;
  text-align: center;
}

.value-water {
  border-radius: 3px;
  width: 50px;
  height: 60px;
}

.value-water .icon-text img {
  width: 50px;
}

.water-edit {
  padding-top: 40px;
}

.water-edit .edit {
  font-weight: 500;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: calc(16px + 0.4vw);
}

.water-edit .edit:hover {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .water-container {
    height: 720px;
  }

  .water-box {
    height: 720px;
    width: calc(200px + 25vw);
  }

  .water-daily {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fast-water-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .list-water {
    margin-bottom: 15px;
    width: 105px;
    gap: 0;
  }

  .water-edit {
    padding-top: 20px;
    margin: auto;
  }

  .water-edit .edit {
    width: 130px;
  }
}
