.main-board-container {
  margin: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  min-height: calc(100vh - 113px);
  width: 100%;
}

.goals-stats-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dashboard-goals {
  width: 320px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  background: #fff;
}

.radial-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboard-goals h2 {
  font-size: calc(20px + 0.5vw);
  font-weight: 600;
}

.goals-stats-list .buttons-goals {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.recent-activities {
}

.container-dashboard {
  display: flex;
  height: 500px;
  flex-direction: column;
  width: 100%;
  background-color: #0b2d5d;
  color: white;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.dash-row {
  display: flex;
}

.container-dashboard .chart-container {
  min-width: 300px;
  width: 100%;
}

.custom-tooltip {
  font-size: 0.7em;
  background-color: white;
  color: black;
  position: relative;
  top: -40px;
  border-radius: 5px;
  padding: 5px 5px;
}

.custom-tooltip p {
  margin: 0;
}

.chart-stats {
  display: flex;
  flex-direction: column;
}

.dashboard-stats {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.water-daily-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

@media screen and (max-width: 728px) {
  .main-board-container {
    flex-direction: column;
  }

  .goals-stats-list {
    flex-direction: column;
  }

  .dashboard-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
