@import '../../assets/global.css';

.water-intake-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.water-intake-char {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 660px;
  height: 300px;
  background-color: var(--white);
}

@media screen and (max-width: 600px) {
  .water-intake-char {
    width: calc(200px + 25vw);
  }
}
