.containerAvatar{
    border-radius: 50px;
    background-color: #dab6b6;

}
.containerAvatar:hover{
    border: 5px solid #b4902b;
}


.ant-tooltip-inner {
    color: #e0b735;
    background-color: #002d29;
    font-size: 1.9em;
    text-align: center;
}