.friendRequest-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-size: 16px
}
.friendRequest-userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.friendRequest-component{
    
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap:10px;  
    border-bottom: 1px inset;
}