@font-face {
    font-family: 'SedgwickAveDisplay-Regular';
    src: url('../../assets/fonts/SedgwickAveDisplay-Regular.ttf') format('truetype');
}
.toggleText{
    color:white;
    font-size:1.4em;
}
.wrapperGoals{
    display: flex;
    flex-direction: column;
    /*max-height: calc(100vh - 73px);*/
    /*width: 100%;*/
    align-items: center;
    z-index: 1;
    justify-content: center;
    /*margin:auto;*/

}
.wrapperGoals-title{
    height: 100px;
}
.ant-input-number-handler-wrap {
    visibility: hidden;
}

.wrapperGoals .goalsGridContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 26px;
    /*grid-row-gap: 10px !important;*/
    margin-top: 50px;
    margin-bottom:0 !important;
    justify-content: center;
    min-height: calc(100vh - 223px);
    padding-right: 10px;
}
.wrapperGoals .datePicker{
    max-width: 150px;
}
.goalSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-height: 10vh;

}
.goalFormH .ant-switch-checked{
    background-color: red;
}
.goalSelection p{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
}

.wrapperGoals h1{
    margin: 0;
    padding-top:20px;
    /*margin-bottom:50px;*/
    font-size: 3.4em;
    font-family: SedgwickAveDisplay-Regular;
    text-align: center;
}


.ant-avatar.ant-avatar-circle:hover{
    border: 5px solid red;
    border-radius: 50px;
}

.addGoalContainer{
    padding: 20px;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: white;
}
.goalFormH{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.ant-input-number-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inputGoalField{
    width: 30vw;
}
.goalFormH p{
    font-size: 1em;
}
.goalFormY{
    background-color: rgba(236, 236, 236, 0.6);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 70vw;
    margin: 0 auto;
}
.goalFormY label{
    font-weight: bolder;
}
.goalFormY hr{
    width: 100%;
    margin: 0 auto;
    color: #9f9f9f;
}
.goalFormHLine{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.goalFormHLine .formWidth{
    width: 30vw
}

.goalSubmitButton{
    background-color: #002d29;
    color: #e1b835;
}
.goalSubmitButton:active{
    color: white;
    background-color: #002d29;
}

.goalSubmitButton:hover{
    color: orange;
    background-color: #002d29;
}

.goalSubmitButton:focus{
    color: white;
    background-color: #002d29;

}
.goalContainerForm hr{
    width: 70vw;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .goalFormY{
        min-width: 100%;
    }

    .goalContainerForm hr{
        width: 100%;
        margin: 0 auto;
    }

    .goalFormHLine .formWidth{
        width:60vw
    }
    .wrapperGoals-title{
        height: 150px;
    }
    .wrapperGoals .goalsGridContainer{
        margin:0 !important;
        min-height: calc(100vh - 273px);
    }
    .wrapperGoals h1{
        font-size: 2em;
    }
}