.activityContainer{
    width:600px;
    height:200px;
    display: flex;
    background-color: #6648de;
    justify-content: space-between;
    font-size: 1.4em;
    margin: 10px;
}

.activityContainer>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 20%;
    padding: 0 15px;
}
.activityContainer>div{
    color: #000000;
}
.activityContainer h2{
    color: #85b5fb;
    font-size: 1.1em;
    text-shadow:  2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);;
}
.activityDate{
    color: white;
}

.activityContainer .activityAvatar{
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #394555;
    color: #85b5fb;
    font-size: 2em;
    /*text-align: center;*/
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.activityContainer .mainAvatar{
    color: #85b5fb;
}