@import '../../assets/global.css';

.profile-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
  width: 100%;
}

.wrapperProfile {
  /* max-height: calc(100vh - 200px); */
  display: flex;
  height: calc(480px + 10vw);

  /* gap: 10px; */
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  background-color: #fff;
  /* padding: 20px; */
}

.wrapperProfile .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-shrink: 0; */
  height: calc(480px + 10vw);

  background: linear-gradient(to right, rgb(26, 67, 63), rgb(74, 116, 110));
  padding: 30px 10px;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  text-align: center;
  color: #fff;
}

/* .user-picture {
  width: 100px;
} */

.wrapperProfile .right {
  display: flex;
  flex-direction: column;
  height: calc(480px + 10vw);
  width: calc(180px + 50vw);
  background: #fff;
  padding-top: 30px;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.profile-history {
  overflow: auto;
}

.wrapperProfile .right .info {
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.wrapperProfile .right .info_data {
  margin-top: 20px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  overflow: auto;
  /* border: 1px solid blue; */
}

.wrapperProfile .right .info_data .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(6px + 0.4vw);
}

.wrapperProfile .right .info_data .data-title {
  display: flex;
  justify-content: center;
  width: 100px;
}

.wrapperProfile .right .info_data .data h4 {
  font-size: calc(16px + 0.4vw);
}

.wrapperProfile .right .buttons {
  margin-top: 30px;
  display: flex;
  /* align-items: ; */
  flex-direction: column;
  justify-content: space-between;
}

.wrapperProfile .right .buttons button {
  margin-bottom: 2px;
  max-width: 150px;
}

.wrapperProfile .right .info_data .data .input_names {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(30px + 10vw);
  justify-content: space-between;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.left .left-container {
  display: flex;
  justify-content: center;
  /* position: relative; */
  /* width: 100%; */
  max-width: 100px;
  max-height: 100px;
}

.left .left-container:hover .overlay {
  opacity: 0.7;
}

.icon {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.image {
  align-self: center;
  width: 100px;
  height: 100px;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  text-align: center;
}

.inputUserInfo {
  /* display: flex; */
  width: 100%;
  font-size: calc(12px + 0.4vw);
  border: 1px solid;
  /* height: 100%; */
  background-color: #ffffff;
  color: black;
  resize: none;
  text-align: left;
  padding: 3px;
}
.inputUserInfo.disabled {
  width: 100%;
  font-size: 15px;
  background-color: #01a9ac;
  /* height: 100%; */
  resize: none;
}
.wrapperProfile .left p {
  margin-bottom: 2px;
  margin-top: 20px;
}
.underConstruction {
  font-size: 60px;
  text-align: center;
}
.wrapperProfile.right input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapperProfile .right .error {
  color: var(--error);
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0 20px 0;
}

.wrapperProfile .right .profile-inputs {
  display: flex;
  flex-direction: column;
}
.wrapperProfile .right .profile-inputs .inputs-with-unit input {
  width: calc(40px + 3vw);
}

.wrapperProfile .right .inputs-with-unit {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .profile-container {
    display: flex;
    margin: auto;
    align-items: baseline;
    justify-content: center;
    height: calc(100vh - 73px);
    /* width: 100%; */
  }

  .wrapperProfile.right {
    max-width: 450px;
  }

  .wrapperProfile {
    flex-direction: column;
    margin-top: 20px;
  }

  .wrapperProfile .right .info_data {
    flex-direction: column;
  }

  .wrapperProfile .right .info_data .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .wrapperProfile .right .info_data .data-title {
    display: flex;
    justify-content: left;
    width: 100px;
  }

  .wrapperProfile .left {
    height: calc(220px + 5vw);
    flex-direction: column;
    padding: 10px 10px;
    justify-content: space-between;
  }

  .userData {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .userInfo {
    margin-top: 15px;
  }

  .inputUserInfo {
    width: calc(80px + 10vw);
  }

  .name-stats {
    margin-top: -10px;
  }
}
.wrapperProfile .right .ant-picker-calendar .ant-radio-group {
  display: none;
}
.wrapperProfile .right .user-history-legend {
  display: flex;
  justify-content: space-around;
}

.wrapperProfile .right .profile-history {
  margin-top: 50px;
}
