.s-container {
  display: flex;
  margin: auto;
  justify-content: stretch;
  max-width: 1920px;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: 100vh;
}

.menu-bar {
  display: flex;
  align-items: center;
  margin: 0;
  height: 73px;
  background: rgb(0, 45, 41);
  position: sticky;
}

.menu-logo-left {
  cursor: pointer;
  height: 63px;
  margin: 0;
  padding-left: 20px;
}

.menu-logo-center {
  justify-self: center;
  cursor: pointer;
  height: 63px;
  margin: auto;
  /* padding: 0 0 0 20px; */
  /* color: rgb(226, 185, 53); */
}

.main-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 73px);
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: rgb(0, 45, 41);
  color: rgb(226, 185, 53);
  transition: 0.5s ease-in-out;
  flex-shrink: 0;
  z-index: 55 !important;
}

.sidebar-box {
  position: sticky;
  top: 0px;
}

.top_section {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.sidebar-bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 73px;
  font-size: 30px;
  margin-left: 12px;
}

.sidebar-bar:hover {
  filter: brightness(0.8);
}

.link {
  text-decoration: none;
  display: flex;
  color: rgb(226, 185, 53);
  padding: 20px 15px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background: rgb(0, 82, 76);
  color: rgb(226, 185, 53);
  transition: all 0.2s ease-in-out;
}

.link.active {
  background: rgb(0, 82, 76);
  color: rgb(226, 185, 53);
}

.link-text {
  font-size: 20px;
  font-weight: 500;
  animation: 0.5s fadeIn 0.2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.text-inside {
  width: 250px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* .link-text {
  font-size: 20px;
  animation: hideAnimation 0s ease-in-out 1s;
  animation-fill-mode: both;
}

@keyframes hideAnimation {
  to {
    visibility: visible;
  }
} */

.link-icon {
  font-size: 22px;
}

.sidebar-logout {
  cursor: pointer;
}

hr.link-line1 {
  opacity: 100%;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double rgb(226, 185, 53);
}
.userTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  gap: calc(5px + 1.5vw);
  /* max-width: 200px; */
  right: 15px;
}
.user-icons-topBar{
  display: flex;
  flex-direction: row;
  gap:10px;
  padding-top: 3px;
}
.user-icons-topBar .userBadges {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-about-us {
  cursor: pointer;
  padding-top: 10px;
  color: var(--secondary);
  font-size: calc(14px + 0.4vw);
}

.menu-about-us:hover {
  font-weight: 600;
}

.notifications-panel {
  position: absolute;
  background-color: white;
  right: 15px;
  min-width: 150px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
}

@media screen and (max-width: 500px) {
  .menu-logo-left {
    padding-left: 8px;
    height: 40px;
    padding-bottom: 5px;
  }
}
