.selectedBtn{
    background-color: red;
    font-size:1.2em;
    border-bottom: 2px solid black;
}
.dayBtn{
    background-color:#c516d2;
    font-size:1em
}

.filterContainer{
    display: flex;
    gap: 2px;
    margin:10px 0;
    min-width: 300px;
    width: 33vw;
}
.filterContainer button{
    margin: 5px;
    width: 33%;
    font-size:1.2em;
}
.filterContainer button span{
    position: relative;
    top:-5px;
}
.ant-btn-danger{
    border:1px solid black

}