.friends-container {
  display: flex;
  margin: auto;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - 73px);
}

.friends-list {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
