@import '../../assets/global.css';

.login-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: calc(180px + 20vw);
  max-width: 550px;
  padding: 20px 0;
  background-color: var(--white);
}

.login-box h2 {
  margin: 0 auto 20px auto;
  font-size: 20;
  font-weight: 800;
  color: var(--text);
}

.login-box input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--light);
  background-color: transparent;
}

.login-box input:hover {
  border-bottom: 2px solid var(--dark);
}

.login-box input:focus {
  outline: none;
}

.login-box label {
  font-size: 16px;
  font-weight: 600;
  color: var(--mid);
}

.login-box .Form {
  width: calc(140px + 20vw);
  display: flex;
  flex-direction: column;
}

.login-box .Form .pass-and-eye {
  color: var(--dark);
}

.login-box .Form button {
  width: 200px;
  margin: 10px auto;
  font-weight: 500;
  border-radius: 3px;
}

.login-box .Form .error {
  color: var(--error);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.login-box .Form p {
  margin-top: 20px;
  text-align: center;
}

.forgotten-password {
  color: var(--bs-link-color);
  text-decoration: underline;
  display: flex;
  margin: 30px auto 20px auto;
  cursor: pointer;
  font-size: 18px;
}

.forgotten-password:hover {
  text-decoration: none;
}
