@import '../../assets/global.css';

.logout-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
}

.logout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: calc(220px + 30vw);
  height: 280px;
  padding: 20px 0;
  background-color: var(--white);
}

.logout-container h2 {
  margin: auto;
  font-size: calc(26px + 0.5vw);
  font-weight: 700;
  color: var(--text);
}

.logout-container button {
  width: 200px;
  margin: auto;
  font-size: calc(16px + 0.4vw);
  font-weight: 500;
  border-radius: 3px;
  filter: opacity(0.7);
}

.logout-container button:hover {
  filter: opacity(1);
}

@media screen and (max-width: 768px) {
  .logout-container h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
