@import '../../assets/global.css';

.signup-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: calc(180px + 20vw);
  max-width: 550px;
  padding: 20px 0;
  background-color: var(--white);
}

.signup-box h2 {
  margin: 0 auto 20px auto;
  font-size: 20;
  font-weight: 800;
  color: var(--text);
}

.signup-box input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--light);
  background-color: transparent;
}

.signup-box input:hover {
  border-bottom: 2px solid var(--dark);
}

.signup-box input:focus {
  outline: none;
}

.signup-box label {
  font-size: 16px;
  font-weight: 600;
  color: var(--mid);
}

.signup-box .Form {
  width: calc(140px + 20vw);
  display: flex;
  flex-direction: column;
}

.signup-box .Form button {
  width: 200px;
  margin: 10px auto;
  font-weight: 500;
  border-radius: 3px;
}

.signup-box .Form .error {
  color: var(--error);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.signup-box .Form p {
  margin-top: 20px;
  text-align: center;
}
