:root {
  --main: rgb(0, 45, 41);
  --secondary: rgb(226, 185, 53);
  --background: #dccbb4;
  --link-main: #0061cf;
  --link-hover: #004ca3;
  --white: #fff;
  --light: #f0f0f0;
  --mid: #bababa;
  --dark: #959595;
  --black: #000;
  --text: #303030;
  --error: #ff0000;
  font-size: calc(10px = 0.2vw);
  font-size: 18px;
}
