.error-container{
    min-height: calc(100vh - 113px);
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    color: #000;
}
.error-container h1{
    font-family: “Comic Sans MS”, “Comic Sans”, cursive;
    font-size: 4.3em;
    font-weight: 700;
    color: rgb(203,1,0);
}

.error-container h2{
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
}
.error-container img{
    max-width: 300px;
}