@import '../../assets/global.css';

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-page-image {
  width: calc(300px + 15vw);
  margin-top: calc(20px + 2vw);
}

.home-page-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 0.4vw);
  font-weight: 500;
  color: var(--main);
}

.home-page-footer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  width: 100vw;
  background: var(--main);
  color: var(--secondary);
  font-size: calc(18px + 0.8vw);
  font-weight: 600;
}

.home-page-container button {
  margin-top: 30px;
  padding: 5px 30px;
  background: none;
  border: none;
  font-size: calc(16px + 0.5vw);
  font-weight: 600;
  color: var(--main);
  border: 2px solid var(--main);
  border-radius: 3px;
  filter: brightness(0);
}

.home-page-container button:hover {
  filter: brightness(2);
}
