@import './assets/global.css';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main);
  /* background-image: url('./assets/images/fresh-snow.png'); */
}

.Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.testDiv {
  width: 100%;
  height: 200px;
  background-color: #c7c062;
  border: 4px solid #01a9ac;
}
