@import './assets/global.css';

* {
  /* width: 100%;
  height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  /* background-image: url('./assets/images/concrete-wall-2.png') repeat; */
}

html {
  /* overscroll-behavior: none; */
  scroll-behavior: smooth;
}

/* .App {
  background-color:var(--main);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
} */

main {
  background-color: #e1b835;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
