.usersContainer{
  min-height: calc(100vh - 113px);
  display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    
}
.red-text {
    background-color: transparent;
    border: none;
    color: red;
    display: flex;
    font-weight: 600;
  }
  .green-text {
    background-color: transparent;
    border: none;
    color: green;
    display: flex;
    font-weight: 600;
   
  }
  .yellow-text {
    background-color: transparent;
    border: none;
    color:  #f7b500;
    display: flex;
    font-weight: 600;
   
  }
  .usersContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
  }